# PYTHON CRASH COURSE (Fisrt day)
My first python code

In [23]:
# Show msg 

print('Hello this is a msg') # Or Hello World

Hello this is a msg

## Variables

What is a variable?

Variables are like a boxes where you can store something in this case **Data** into PC memory. And these boxes can have names like:
variable1, esme, motagayyer , myfile 

## Variable Assignment

### Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Data TYPES

- String
- Integer
- float
- list
- tuple
- dictionary
- ...

### str - **String** (short or long text, letters, everything you can write like text, including numbers)

### ## Assigning Variables

In [2]:
x = "Hello"

In [3]:
print(x) # You can print the content of a variable with print

Hello

In [4]:
y = "World"

In [5]:
print(y)

World

In [6]:
z = 'This is an example of long long long long long text and if i want i can write more'
print(z)

This is an example of long long long long long text and if i want i can write more

In [7]:
z2 = 'short text'
print(z2)

short text

In [8]:
this_is_a_text = 'this is an example with variables'
print(this_is_a_text)

this is an example with variables

In [9]:
x = '10' # you can use numbers like a text
b = 'True' # boolean like a text

print(x)
print(b)

10
True

### int - **Integer**

In [4]:
a = 1
b = 2
c = 3


print(a,b,c+1)

1 2 4

### Floats

In [12]:
b=2.5
c=4.6
j=7.6

### How to know which variable type is

In [7]:
type(b)

float

### Complex

In [11]:
cc=2.0+4j
dd=3-6.3j
ff=cc*dd
print(ff)
type(ff)

(31.2-0.5999999999999996j)

complex

### bool - **Boolean** (binary option True(1) or False(0) )

In [20]:
bool1 = True
bool2 = False

print(bool1)
print(bool2)


f=bool1*bool2
print(f)

True
False
0

In [16]:
e=(1==2)
print(e)

False

In [17]:
r=(3 < 4)
p=e*r
print(p)

0

In [14]:
c = True
type(c)

bool

In [21]:
a = '1'
print('Before: ', a, type(a))
a = int(a)
print('After: ', a, type(a))

Before:  1 <class 'str'>
After:  1 <class 'int'>

In [18]:
a = False
print('Before: ', a, type(a))
a = str(a)
print('After: ', a, type(a))

Before:  False <class 'bool'>
After:  False <class 'str'>

### Types of variables names writing (that Python supports)

In [19]:
# Capital Case - First letter are capital

Thisisavariable = 123 
Capitalcase = '123'
Yourvariable = 'False'

# Pascal Case - Each First letter of a word are capital

ThisIsAVariable = 'text' 
PascalCase = "asdf"
YourVariable = "True variable"

# Snake Case - each word separate by underscore

this_is_a_variable = False  
snake_case = 12345
your_variable = 6789


# Camel Case - First letter of the first word is lowercase, but the rest of words starts with capital 

thisIsAVariable = '123Text' 
camelCase = 'Example'
yourVariable = 'Example2'

# Operators

We have 3 types of operators
- Arithmetic
- Comparison
- Logical

## Arithmetic Operators 




<table class="table table-bordered">
    <tbody>
        <tr>
            <th style="text-align:center;width:10%">Operator</th>
            <th style="text-align:center;width:10%">Operation</th>
            <th style="text-align:center;width:45%">Description</th>
            <th style="text-align:center;">Example</th>
        </tr>
        <tr>
            <td class="ts">+</td>
            <td class="ts">Addition</td>
            <td>Adds values on either side of the operator.</td>
            <td class="ts">a + b = 30</td>
        </tr>
        <tr>
            <td class="ts">-</td>
            <td class="ts">Subtraction</td>
            <td>Subtracts right hand operand from left hand operand.</td>
            <td class="ts">a – b = -10</td>
        </tr>
        <tr>
            <td class="ts">*</td>
            <td class="ts">Multiplication</td>
            <td>Multiplies values on either side of the operator</td>
            <td class="ts">a * b = 200</td>
        </tr>
        <tr>
            <td class="ts">/</td>
            <td class="ts">Division</td>
            <td>Divides left hand operand by right hand operand</td>
            <td class="ts">b / a = 2</td>
        </tr>
        <tr>
            <td class="ts">%</td>
            <td class="ts">Modulus</td>
            <td>Divides left hand operand by right hand operand and returns remainder</td>
            <td class="ts">b % a = 0</td>
        </tr>
        <tr>
            <td class="ts">**</td>
            <td class="ts">Exponent</td>
            <td>Performs exponential (power) calculation on operators</td>
            <td class="ts">a**b =10 to the power 20</td>
        </tr>
        <tr>
            <td class="ts">//</td>
            <td class="ts">Floor Division</td>
            <td>The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −</td>
            <td class="ts">9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
        </tr>
    </tbody>
</table>

In [31]:
# Addition
a = 1
b = 2 
print(a + b) 
c = 10
d = 2
print(c+d)

# Concatenation 
a = '1'
b = '1'
print(a + b)
c = 'Hello '
d = 'World'
print(c+d)
print(2*c)
print(c+a)

3
12
11
Hello World
Hello Hello
Hello 1

In [8]:
# Subtraction
a = 1 
b = 2
print(a-b)

# print('1' - '2') # Error - you can't do this

-1

In [9]:
# Multiplication
a = 1 
b = 1
print(a*b)

# c = '2'
# d = '3'
# print(c*d) # Error - You can't do this

1

In [12]:
# Division

a = 1 
b = 2
print(a/b)

# c = '2'
# d = '2'
# print(c/d) # Error - You can't do this

0.5

In [11]:
# Modulus 

a = 10
b = 2 
c = 3
print(a%b) # Remainder is 0
print(a%c) # Remainder is 1

0
1

In [13]:
# Exponent
a = 2
b = 4
print(a**b)

16

In [14]:
# Floor Division
a = 4
b = 3
print(a//b)

1

Comparison Operators


<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td class="ts">(a == b) is not true.</td>
</tr>
<tr>
<td class="ts">!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a != b) is true.</td>
</tr>
<tr>
<td class="ts">&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td class="ts">&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt; b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt; b) is true.</td>
</tr>
<tr>
<td class="ts">&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt;= b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt;= b) is true.</td>
</tr>
</tbody></table>

In [16]:
a = 5
b = 3

print(a == b)
print(a != b)
# print(a <> b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False


<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">=</td>
<td>Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts">+= Add AND</td>
<td>It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts">-= Subtract AND</td>
<td>It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts">*= Multiply AND</td>
<td>It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c *= a is equivalent to c = c * a</td>
</tr>
<tr>
<td class="ts">/= Divide AND</td>
<td>It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c /= a is equivalent to c = c / a
</td>
</tr>
<tr>
<td class="ts">%= Modulus AND</td>
<td>It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts">**= Exponent AND</td>
<td>Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c **= a is equivalent to c = c ** a</td>
</tr>
<tr>
<td class="ts">//= Floor Division</td>
<td>It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c //= a is equivalent to c = c // a</td>
</tr>
</tbody></table>

In [32]:
a = 2
b = 2
c = 10
print(a)
a = 3
print(a)
a +=1
print(a)
b -= 1
print(b)
b *= 2
print(b)
b /= 2
print(b)
c %= 2
print(c)
c +=2
c **=2
print(c)
c //=2
print(c)

2
3
4
1
2
1.0
0
4
2

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td>and Logical AND</td>
<td class="ts">If both the operands are true then condition becomes true.</td>
<td class="ts">(a and b) is true.</td>
</tr>
<tr>
<td>or Logical OR</td>
<td class="ts">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts">(a or b) is true.</td>
</tr>
<tr>
<td>not Logical NOT</td>
<td class="ts">Used to reverse the logical state of its operand.</td>
<td class="ts">Not(a and b) is false.</td>
</tr>
</tbody></table>

In [22]:
a = False
b = True
print(a and b)
print(a or b)
print(not(a))

False
True
True

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">in</td>
<td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
<td style="vertical-align:middle;">x in y, here in results in a 1 if x is a member of sequence y.</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
<td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
</tr>
</tbody></table>

In [1]:
a = 'h'
b = 'hello'
c = 'world'
print(a in b)
print(a not in c)

True
True

==============================================


# LIST and TUPLE


Python Lists
In short, a list is a collection of arbitrary objects, somewhat akin to an array in many other programming languages but more flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([]), as shown below:

In [3]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

a

['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

----------------------------------------
### The important characteristics of Python lists are as follows:

- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.
- Each of these features is examined in more detail below.

### Ordered?

In [6]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['foo', 'bar',  'qux', 'baz']


print(a==b)

False

In [7]:
a[1:]

['bar', 'baz', 'qux']

In [8]:
a[-1]

'qux'

In [10]:
a[:-1]

['foo', 'bar', 'baz']

### Lists Can Be Nested

In [1]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

### Lists Are Mutable
Modifying a Single List Value

In [23]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [24]:
a[-1]='3'

APPEND & EXTEND a list

In [25]:
a.append('new')
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', '3', 'new']

**SCLICE list**

In [26]:
b=a[2:-2]
print(b)

['baz', 'qux', 'quux']

In [28]:
a.extend(b)
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', '3', 'new', 'baz', 'qux', 'quux']

Removes an object from a list.

In [34]:
a.remove('foo')
print(a)

['bar', 'baz', 'quux', '3', 'new', 'baz', 'quux']

In [36]:
a.pop()

'baz'

## Lists Are Dynamic
When items are added to a list, it grows as needed

----------------------------------------
## Python Tuples


Defining and Using Tuples
Tuples are identical to lists in all respects, except for the following properties:

Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
Tuples are immutable.

In [37]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [38]:
t[2]

'baz'

**Why use a tuple instead of a list?**

- Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

- Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

- There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

## Tuple Assignment, Packing, and Unpacking

In [39]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [40]:
s1

'foo'

-----------------------------------------------------------------
------------------------------------------------------------------



# Dictionaries



Dictionaries and lists share the following characteristics:

- Both are mutable.
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary-  - can also contain a list, and vice versa.
 
## Dictionaries differ from lists primarily in how elements are accessed:

- List elements are accessed by their position in the list, via indexing.
- Dictionary elements are accessed via keys.

Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

In [42]:
phonebook={
    'Amoozesh':6555,
    'Fava': 6622,
    'Karbord':6543
}

In [44]:
phonebook['Fava']

6622

Adding new element

In [45]:
phonebook['Foroshgah']=8877

In [46]:
print(phonebook)

{'Amoozesh': 6555, 'Fava': 6622, 'Karbord': 6543, 'Foroshgah': 8877}

In [47]:
phonebook.keys()

dict_keys(['Amoozesh', 'Fava', 'Karbord', 'Foroshgah'])

In [48]:
phonebook.values()

dict_values([6555, 6622, 6543, 8877])

In [51]:
dir(phonebook)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']